@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #225db0;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.heading {
    color: white;
    font-size: 35px;
    font-family: Roboto;

}

.paragraph {
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: lighter;
}

.pad {
    padding: 20px;
}

.container {
    height: 150px;
    width: 180px;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    border-width: 0px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.container-img {
    height: 80px;
    width: 80px;
}

.box-heading {
    font-family: Roboto;
    font-size: 20px;
    padding-top: 10px;

}

.card-carousel {
    padding: 10px;
}

.card-list-of-topics {
    font-size: 20px;
    font-family: Roboto;
    color: white;
}

.topic-items-color {
    color: white;
    padding-top: 20px;
}

.but {
    background-color: #3dcfd1;
    height: 40px;
    width: 130px;
    color: white;
    text-align: center;
    border-width: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 90px;
}
